@model IEnumerable<OrderSystem.Models.VendorItem>

@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>

        </div>
    </section>
}

@if (ViewBag.WorksheetNames != null) { 
    using (Html.BeginForm("SelectCategory", "Home", FormMethod.Get)) {
        @Html.DropDownList("WorksheetNames")
        <p>
            <input type="submit" value="Submit" />
        </p>
    }
}


@if (Model != null) { 
    <ul>

        @foreach (var vendorItem in Model) {
            <li>@vendorItem.ItemName, @vendorItem.ItemPrice</li>    
        }
    </ul>
}

